#foresight issue-dependency-viewer-graph-container {
  height:500px;
  width:900px;
}

.foresight-path-link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px; 
}

.foresight-circle {
  stroke: #333;
  stroke-width: 1.5px;
}

.foresight-text {
  font: 10px sans-serif;
  pointer-events: none;
}

.foresight-shadow {
  stroke: #fff;
  stroke-width: 3px;
  stroke-opacity: .8;
}

.foresight-form-label {
  width: 200px;
  float: left;
}