#foresight issue-dependency-viewer-graph-container {
  height:500px;
  width:1000px;
}

.foresight-path-link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px; 
}

.foresight-path-link-system {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px; 
  stroke-dasharray: 0,2 1;
}

.foresight-circle {
  stroke: #333;
  stroke-width: 1.5px;
}

.foresight-text {
  font: 10px sans-serif;
  pointer-events: none;
}

.foresight-form-label {
  width: 200px;
  float: left;
}

.foresight-text-striked {
	text-decoration: line-through;
}

.foresight-input {
  margin-top: 4px;
  margin-bottom: 4px;
}