path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

path.link.resolved {
  stroke-dasharray: 0,2 1;
}

.circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

.circle-current {
  fill: #4552E6;
  stroke: #333;
  stroke-width: 1.5px;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
}

text.shadow {
  stroke: #fff;
  stroke-width: 3px;
  stroke-opacity: .8;
}