<form id="issue-dependency-viewer-form">
Include dependencies : 
<input type="checkbox" name="includeOutward" value="includeOutward"> Outward
<input type="checkbox" name="includeInward" value="includeInward"> Inward
</form>

<div id="issue-dependency-viewer-graph-container"></div>

<script>

AJS.$(document).ready(function() {

	show_graph();

});


</script>